# https://mcmackins.org/articles/rt-systems-linux.html
# These programming cables are just FTDI serial cables with a proprietary
# vendor and product code, so operating systems fail to identify the correct
# driver to load for them.
# 2100 is the vendor ID for RT Systems. This rule tells udev to run two
# commands when it detects an RT Systems cable. First, it loads the ftdi_sio
# driver module if it is not already loaded. Then, it sends a signal to the
# driver to load it for the vendor ID and product ID of the device it just
# detected.
ATTR{idVendor}=="2100", RUN+="/sbin/modprobe -q ftdi_sio", RUN+="/bin/sh -c 'echo 2100 $attr{idProduct} >/sys/bus/usb-serial/drivers/ftdi_sio/new_id'"
