[user]
	name = Nick Gerner
	email = nick.gerner@gmail.com

[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	autocrlf = false
	excludesfile = ~/.gitignore_global
	whitespace = tab-in-indent,tabwidth=4
[color]
	status = auto
	diff = auto
	branches = auto
[alias]
	status-svn = !"git log `git svn log --show-commit --oneline --limit=1 | awk '{print $3}'`..HEAD"
	diff-svn = !"git diff `git svn log --show-commit --oneline --limit=1 | awk '{print $3}'`..HEAD"

[push]
	default = nothing
