[user]
	name = Nick Gerner
	email = nick.gerner@gmail.com

[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	autocrlf = false
[color]
	status = auto
	diff = auto
	branches = auto
